.kasumi-container {
  max-width: 28rem;
  margin: 0 auto;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */

  container-type: inline-size;
  container-name: kasumi-main;
}

.kasumi-header {
  text-align: center;
  padding: 24px;
  margin-bottom: 0;
}

.kasumi-username {
  font-size: 40px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 0;
}

.kasumi-level {
  font-size: 1.25rem;
  color: #505050;
  margin-bottom: 0;
}

.kasumi-introduction-text {
  color: #505050;
  margin-bottom: 0;
}

.kasumi-user-id {
  color: #505050;
  margin-bottom: 0;
}

.kasumi-section {
  margin-bottom: 12px;
}

.kasumi-section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  background-color: #5b5b5b;
  color: white;
  padding: 4px 16px;
  border-radius: 4px;
  display: inline-block;
}

.kasumi-difficulty-grid {
  display: flex;
  justify-content: space-between;
}

.kasumi-difficulty-item {
  text-align: center;
}

.kasumi-difficulty-tag {
  width: 78px;
  margin: 0 auto 4px;
  color: white;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;

  @container kasumi-main (width <= 400px) {
    width: 70px;
    font-size: 12px;
  }
}

.kasumi-difficulty-value {
  color: #525252;
}

.kasumi-band-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  margin-bottom: 8px;
}

.kasumi-band-item {
  text-align: center;
}

.kasumi-band-avatar {
  height: 36px;
}

.kasumi-band-level {
  color: #525252;
}

.kasumi-character-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  margin-bottom: 8px;
}

.kasumi-character-item {
  text-align: center;
}

.kasumi-character-avatar {
  width: 32px;
  height: 32px;

  @container kasumi-main (width <= 400px) {
    width: 30px;
    height: 30px;
  }
}

.kasumi-character-level {
  color: #525252;
}
